# Virtual Tour with Multi-Resolution Panos
# Skin with Scrolling-Thumbnails, Bingmaps, Gyroscope, VR-Support
# Documentation: http://krpano.com/tools/kmakemultires/config?version=119
# krpano 1.19


# basic settings
include basicsettings.config
panotype=sphere
hfov=360
makescenes=true
tempdir=C:/Users/fd/IdeaProjects/zheyuevr/src/main/webapp/resources/krpano/temp

# output
flash=flase
html5=true


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto


# output images path
tilepath=%INPUTPATH%/panos/%BASENAME%/[c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg
#tilepathxml=%INPUTPATH%/panos/%BASENAME%/%s/l1/%v/l1_%s_%v_%h.jpg

# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/panos/%BASENAME%/preview.jpg
#previewpathxml=%INPUTPATH%/panos/%BASENAME%/preview.jpg

# generate special optimized, non-tiled, lower-res images for VR
customimage[vr].size=1536
customimage[vr].path=%INPUTPATH%/panos/%BASENAME%/vr/pano_%s.jpg
customimage[vr].imagesettings=jpegquality=82 jpegsubsamp=444 jpegoptimize=true
customimage[vr].xmlsceneparameters=havevrimage="true"
customimage[vr].xmlimageparameters=if="!webvr.isenabled"
customimage[vr].xmllevel=krpano
customimage[vr].xml=<image if="webvr.isenabled">[NL][TAB]<cube url="[PATH]" />[NL]</image>


# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/panos/%BASENAME%/thumb.jpg
#thumbpathxml=%INPUTPATH%/panos/%BASENAME%/thumb.jpg

# xml output
xml=true
xmlpath=%INPUTPATH%/tour.xml


# html output/template
html=false
htmlpath=C:/Users/fd/IdeaProjects/zheyuevr/src/main/webapp/WEB-INF/pages/krpano/%BASENAME%/vtour/tour.html
htmltemplate_html5=auto


# skin / xml template
include vtourskin119.skin


# include vtour editor
#xmltemplate_additional_file=xml/plugins/vtoureditor.swf
#htmltemplate_additional_file=html/tour_editor.html